* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Maple Mono NF";
  font-size: 12px;
}

window#waybar {
  background-color: $color-bg0;
  color: $color-fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.fullscreen {
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -1px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-
strange-hover-effect */
button:hover {
  background: inherit;
  border-radius: 999px;
}

#workspaces button {
  transition: all 0.2s;
  padding: 4px 4px 4px 5px;
  margin: 3px;
  min-width: 15px;
  min-height: 15px;
  background-color: transparent;
  color: $color-fg;
  border-radius: 999px;
}

#workspaces button:hover {
  background-color: $color-bg-blue;
  color: $color-blue;
}

#workspaces button.active {
  font-weight: bold;
  box-shadow: inset 0 0 0 2px $color-blue;
  color: $color-blue;
  background-color: $color-bg-blue;
}

#workspaces button.urgent {
  background-color: $color-red;
  color: $color-bg-red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#tray,
#custom-updates,
#custom-bluetooth,
#mpd {
  color: $color-fg;
  margin: 5px 0px;
  padding: 0 8px;
  background-color: $color-bg2;
}
/* Group end */
#clock {
  margin-right: 2px;
  padding-right: 12px;
  border-radius: 0 999px 999px 0;
}
/* Group start */
#custom-bluetooth {
  margin-left: 2px;
  padding-left: 12px;
  border-radius: 999px 0 0 999px;
}
/* Single item groups (buttons) */
#custom-updates,
#tray,
#battery {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 999px;
}

.modules-right > widget:last-child > #clock,
.modules-right > widget:last-child > #battery {
  margin-right: 4px;
}

#tray {
  padding: 4px 10px;
}

#window {
  margin-left: 6px;
  color: $color-fg;
}

#workspaces {
  padding: 4px 4px;
  border-radius: 999px;
}

#clock {
  box-shadow: none;
}

#battery {
  min-width: 40px;
  border-radius: 999px;
  transition: all 0.3s;
}

#battery.charging,
#battery.plugged {
  box-shadow: inset 0 0 0 2px $color-green;
  background-color: $color-bg-green;
}

#battery.full {
  background-color: $color-bg-blue;
  color: $color-blue;
  box-shadow: none;
}

#battery.critical:not(.charging) {
  background-color: transparent;
  animation: batteryCritical 1.2s linear 0s infinite normal forwards;
}

#network.disconnected,
#pulseaudio.muted, #wireplumber.muted {
  transition: all 0.2s;
  color: $color-grey0;
}


#temperature.critical {
  color: $color-orange;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > * {
  padding: 0 20px;
}

#tray > .needs-attention {
  background-color: $color-red;
  border-radius: 999px;
}

#custom-updates:not(.has-updates) {
  color: $color-fg;
  font-weight: bold;
  transition: all 0.5s;
  padding: 0 12px 0 10px;
}

#custom-updates.has-updates {
  box-shadow: inset 0 0 0 2px $color-blue;
  color: $color-blue;
  background-color: $color-bg-blue;
  font-weight: 900;
  transition: all 0.5s;
}

tooltip {
  background-color: $color-bg0;
  border: 2px solid;
  border-color: $color-grey0;
  color: $color-fg;
}
tooltip label {
  padding: 5px;
}

#submap {
    padding-right: 10px;
    font-style: italic;
    color: $color-blue;
}
